td.mdl-data-table__cell--non-numeric
    label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isDone-#{id}")
        input(id="isDone-#{id}" class="isDone mdl-checkbox__input" type="checkbox" name="completed" checked=(isDone))

td #{id}
td.mdl-data-table__cell--non-numeric #{title}
td
    a(href="#" class="delete") X
