h1 Login form
div.mdl-textfield.mdl-js-textfield
    input(id="username-field" type="text" class="mdl-textfield__input")
    label(class="mdl-textfield__label" for="username-field" ) Username

div.mdl-textfield.mdl-js-textfield
    input(id="password-field" type="password" class="mdl-textfield__input")
    label(class="mdl-textfield__label" for="password-field" ) Password
div
    button#login-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Log in
