header.mdl-layout__header
    div.mdl-layout__header-row
        span.mdl-layout-title Dead simple todo list

div#menu-drawer.mdl-layout__drawer

main.mdl-layout__content
    div.mdl-grid
        div#add-todo.mdl-cell.mdl-cell--12-col
        div#todo-list-wrapper.mdl-cell.mdl-cell--12-col