span.mdl-layout-title Lists
    nav.mdl-navigation
        a#active-todo.mdl-navigation__link( href="#/todo") Todo
        a#all-todo.mdl-navigation__link( href="#/todo/all") All
        a#done-todo.mdl-navigation__link( href="#/todo/done") Done